{% extends "main/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'main/css/signup.css' %}">
{% endblock %}

{% block header_title %}会員登録{% endblock %}

{% block content %}
{# signup 処理部分 #}
<form action="{% url 'signup' %}" method="POST" class="signup-form">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit" class="signup-form__submit">送信</button>
</form>
{% endblock %}

{% block footer %}{% endblock %}